side-effects-cache = false # or lefthook postinstall wouldn't be executed to install Git hooks

package-manager-strict-version=true
manage-package-manager-versions=true

node-version=22.17.0
use-node-version=22.17.0

disallow-workspace-cycles=true
shared-workspace-lockfile=true
save-workspace-protocol=rolling

node-linker=hoisted # pnpm uses a flat node_modules; VS Code auto-imports just work
strict-peer-dependencies=false # silence unavoidable peer-dep noise in many libs
auto-install-peers=true # auto-pull missing peers instead of warnings
